* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    @include responsive(1280px) {
        font-size: 58%;
    }
}

html,
body {
    overflow-x: hidden;
}

button {
    background-color: transparent;
    cursor: pointer;
}